@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #07070f;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Suaviza a renderização de fontes */
  -webkit-font-smoothing: antialiased;
}
